* {
    font-family: 'comfortaa', sans-serif;
    font-weight: bold !important;
    font-size: 15px;
}

#ButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -40px;
}
#ButtonsContainer .btn {
    padding: 4px 6px;
    font-size: 14px;
    margin: 2.5px 0;
}




.tm-medal-progress span {
    font-size: 22px !important;
    font-weight: bolder !important;
    color: #ffffff;
    text-shadow: 0.5px 0.5px 0 #066837, -0.5px -0.5px 0 #066837, 0.5px -0.5px 0 #066837, -0.5px 0.5px 0 #066837;
}







/* Style for the toggled state */
#ButtonsContainer .btn.btn-secondary {
    --bs-btn-bg: #066837 !important;
    --bs-btn-focus-box-shadow: #84fbae !important;
    background-color: #066837 !important; /* Your desired color for the toggled state */
    border-color: #84fbae !important;

}



/* Loading */
.spinner {
    margin: 0 auto;
    border: 15px solid #066837;
    border-radius: 50%;
    border-top: 10px solid #84fbae;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }












.mp-format{
    font-size: 13.5px !important;
}

.personal-best {
    font-size: 16px !important;
}
.personal-best img {
margin-bottom: 5px;
}

.finished-track .personal-best {
    color: red !important;

}

.authored-track .personal-best {
    color: green !important;
}



.medals-div {
    height: calc(100% - 6.5rem) !important;
    width: calc(100% - 6.5rem) !important;
    margin-bottom: 27.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.medals-div li {
    font-size: 15px;
    transform: translateY(7.5px);
}
.medals-div img {
    width: 20px;
    height: 20px;
}

.tm-map-score.personal-best {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0rem;
}
.personal-best img {
    width: 30px;
    height: 20px;
}



.time-div {
    margin-top: -6px;
    font-size: 15px !important;
}
.percent-div {
    white-space: nowrap;
    margin-left: 71%;
    margin-top: -6px;
    font-size: 15px !important;
}
.finished-track .time-div , .finished-track .percent-div {
    color: red !important;
}
.authored-track .time-div , .authored-track .percent-div {
    color: green !important;
}
.unfinished-track .time-div , .unfinished-track .percent-div {
    color: white !important;
}
